* {
    color: #537098;
}

#submit-cont {
    display: table-cell;
}

#message-cont {
    display: table-cell;
    width: 100%
}

#profile-image-cont {
    display: table-cell;
}

#login-google-cont {
    display: table-cell;
}

body {
    padding: 20px;
}

#logo {
    color: #537098;
}

#message {
    border-bottom: 1px solid #537098;
    box-shadow: 0 1px 0 0 #537098;
    color: #537098;
}

#submit {
    background-color: #537098;
}

#incoming {
    color: #537098;
}

#login-google {
    background-color: #537098;
}

#menu-bar {
    background-color: #ecf0f1;
    display: table-row;
}

#incoming-cont {
    height: px;
    display: table-row;
}

#outgoing-cont {
    display: table-row;
}

#incoming {
    width: 100%;
}